<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Gibraan Negron - VGS Test</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">


</head>


<body>
        <div class="wrapper">
          <nav class="navbar navbar-default">
              <div class="navbar-header">
                <a class="navbar-brand" href="/"> Home</a>
              </div>
          </nav>

              <div id="hero" class="col-md-12">
                <center>
                  <h1>Gibraan Negron - VGS Test</h1>
               </center>
              </div>

              <div class="container">
                <div class="row">
                  <div class="col">
                    <h3>Please the alias for data you want to reveal:</h3>
                    <hr>
                    <form action="/reveal2" method="POST">

              <div class="form-group">
                <label>Card Number</label>
                <input type="text" class="form-control" id="card_num" name="card_num" placeholder="Enter alias for your Card Number">
              </div>

            <div class="form-group">
              <label>Exp Date</label>
              <input type="text" class="form-control" id="exp_date" name="exp_date" placeholder="Enter alias for your Exp Date">
            </div>
          <div class="form-group">
            <label>CVV Number</label>
            <input type="text" class="form-control" id="cvv" name="cvv" placeholder="Enter alias for your CVV Number">
          </div>

          <button type="submit" class="btn btn-primary">Reveal</button>
        </form>
    </div>
  </div>
</div>
</div>